<div class="flex justify-center items-center">
  <div class="card w-[350px]">
    <div class="absolute top-0 right-0 -mt-3 -mr-3">
      <p-button
        icon="pi pi-times"
        severity="danger"
        size="small"
        rounded
        (click)="closeDialog()"
      ></p-button>
    </div>
    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0">Email</p-tab>
        <p-tab value="1">Binance API</p-tab>
      </p-tablist>
      <p-tabpanels class="!px-0 !pt-6">
        <p-tabpanel value="0">
          <form [formGroup]="emailForm" (ngSubmit)="signInWithEmail()" class="flex flex-col gap-4">
            <p-floatlabel variant="on">
              <input
                pInputText
                inputId="email"
                placeholder="user@domain.com"
                formControlName="email"
                autocomplete="off"
                class="w-full"
              />
              <label for="email">Email</label>
            </p-floatlabel>

            <p-floatlabel variant="on">
              <p-password
                inputId="password"
                formControlName="password"
                [toggleMask]="true"
                [feedback]="false"
                [showClear]="emailForm.get('password')?.value?.length > 3"
                autocomplete="off"
                fluid
              />
              <label for="password">Password</label>
            </p-floatlabel>

            <div class="flex flex-col gap-2">
              <div class="flex items-center gap-2">
                <p-checkbox
                  formControlName="useTestnet"
                  [binary]="true"
                  inputId="emailTestnet"
                ></p-checkbox>
                <label for="emailTestnet" class="text-sm">Use Testnet Environment</label>
              </div>

              <div class="flex items-center gap-2">
                <p-checkbox
                  formControlName="rememberMe"
                  [binary]="true"
                  inputId="rememberMe"
                ></p-checkbox>
                <label for="rememberMe" class="text-sm">Remember Me</label>
              </div>
            </div>

            @if (errorMessage()) {
              <p-message severity="error" styleClass="w-full block">{{ errorMessage() }}</p-message>
            }

            <p-button
              styleClass="w-full"
              type="submit"
              label="Sign In"
              iconPos="right"
              icon="pi pi-sign-in"
              severity="contrast"
              [loading]="loading()"
              [disabled]="emailForm.invalid"
            >
            </p-button>
          </form>

          <p-divider type="dotted">
            <b>OR</b>
          </p-divider>

          <p-button
            styleClass="w-full mb-10"
            type="button"
            label="Sign In with Google"
            icon="pi pi-google"
            severity="secondary"
          >
          </p-button>

          <div class="flex items-center justify-between">
            <span class="text-sm">Don't have an account?</span>
            <p-button
              type="button"
              label="Sign up now!"
              variant="text"
              severity="info"
              size="small"
            >
            </p-button>
          </div>
        </p-tabpanel>

        <p-tabpanel value="1">
          <form
            [formGroup]="binanceForm"
            (ngSubmit)="signInBinanceKey()"
            class="flex flex-col gap-4"
          >
            <p-floatlabel variant="on">
              <p-password
                inputId="apiKey"
                formControlName="apiKey"
                [toggleMask]="true"
                [feedback]="false"
                [showClear]="binanceForm.get('apiKey')?.value?.length > 3"
                autocomplete="off"
                fluid
              />
              <label for="apiKey">API Key</label>
            </p-floatlabel>

            <p-floatlabel variant="on">
              <p-password
                inputId="apiSecret"
                formControlName="apiSecret"
                [toggleMask]="true"
                [feedback]="false"
                [showClear]="binanceForm.get('apiSecret')?.value?.length > 3"
                autocomplete="off"
                fluid
              />
              <label for="apiSecret">API Secret</label>
            </p-floatlabel>

            <div class="flex items-center gap-2">
              <p-checkbox
                formControlName="useTestnet"
                [binary]="true"
                inputId="binanceTestnet"
              ></p-checkbox>
              <label for="binanceTestnet" class="text-sm">Use Testnet Environment</label>
            </div>

            @if (errorMessage()) {
              <p-message severity="error" styleClass="w-full mb-4 block">{{
                errorMessage()
              }}</p-message>
            }

            <p-button
              styleClass="w-full"
              type="submit"
              label="Establish Secure Session"
              iconPos="right"
              icon="pi pi-sign-in"
              severity="contrast"
              [loading]="loading()"
              [disabled]="binanceForm.invalid"
            >
            </p-button>
          </form>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
