<p-popover #symbolsPopover (onShow)="onShow()" (onHide)="hide()">
  <ng-template pTemplate="content">
    <div class="px-3 pb-3 pt-1 flex items-center justify-between">
      <span class="text-xs text-gray-400 jetbrains-bold">SELECT MARKET</span>
    </div>

    <div class="border-b border-gray-800/80 mb-3">
      <p-iconfield>
        <p-inputicon class="pi pi-search text-gray-500" />
        <input
          pInputText
          type="text"
          pSize="small"
          class="w-full bg-gray-900 border-gray-700 hover:border-gray-600 focus:border-blue-500 transition-colors placeholder:text-gray-600"
          fluid
          placeholder="Search pair eg. BTC"
          (input)="dtSymbols.filterGlobal($any($event.target).value, 'contains')"
        />
      </p-iconfield>
    </div>

    <div class="relative" [style]="{ 'max-width': 'min(520px, 92vw)', width: 'min(520px, 92vw)' }">
      <p-table
        #dtSymbols
        [value]="tableData()"
        [loading]="tableData().length === 0"
        size="small"
        [scrollable]="true"
        scrollHeight="500px"
        [virtualScroll]="true"
        [virtualScrollItemSize]="46"
        [globalFilterFields]="['symbol']"
        sortField="isFavorite"
        [sortOrder]="-1"
        [tableStyle]="{ 'min-width': '100%' }"
        class="jetbrains-light text-[11px]"
      >
        <ng-template #header>
          <tr>
            <th
              pSortableColumn="isFavorite"
              pFrozenColumn
              alignFrozen="left"
              class="!bg-gray-900 !w-10"
            >
              <span
                class="flex items-center justify-center text-gray-500 hover:text-gray-300 transition-colors"
              >
                <span
                  class="pi p-1.5 transition-all hover:scale-110"
                  [ngClass]="
                    dtSymbols.isSorted('isFavorite')
                      ? 'pi-star-fill text-yellow-500 hover:text-yellow-200 drop-shadow-[0_0_8px_rgba(234,179,8,0.4)]'
                      : 'pi-star text-gray-600 hover:text-white'
                  "
                ></span>
              </span>
            </th>

            <th
              pSortableColumn="symbol"
              pFrozenColumn
              alignFrozen="left"
              class="!bg-gray-900 shadow-[4px_0_12px_-4px_rgba(0,0,0,0.5)] !w-40"
            >
              <span
                class="flex items-center gap-1 text-gray-400 hover:text-gray-100 transition-color"
              >
                <span>Symbols</span>
                <p-sortIcon field="symbol"></p-sortIcon>
              </span>
            </th>
            <th class="!bg-gray-900 !w-[100px]">
              <span class="text-gray-500">
                <span>Last Price</span>
              </span>
            </th>
            <th pSortableColumn="priceChangePercent" class="!bg-gray-900 !w-[80px]">
              <span
                class="flex items-center gap-1 text-gray-400 hover:text-gray-100 transition-color"
              >
                <span>24h %</span>
                <p-sortIcon field="priceChangePercent"></p-sortIcon>
              </span>
            </th>
            <th pSortableColumn="volNumber" class="!bg-gray-900 !w-[80px]">
              <span
                class="flex items-center gap-1 text-gray-400 hover:text-gray-100 transition-color"
              >
                <span>Volume</span>
                <p-sortIcon field="volNumber"></p-sortIcon>
              </span>
            </th>
          </tr>
        </ng-template>

        <ng-template #body let-item let-index="rowIndex">
          <tr class="group cursor-pointer transition-colors" (click)="selectSymbol(item.symbol)">
            <td
              pFrozenColumn
              alignFrozen="left"
              class="text-center group-hover:!bg-yellow-700 transition-colors"
            >
              <span
                class="pi p-1.5 transition-all group-hover:scale-110"
                [ngClass]="
                  item.isFavorite
                    ? 'pi-star-fill text-yellow-500 group-hover:text-yellow-200 drop-shadow-[0_0_8px_rgba(234,179,8,0.4)]'
                    : 'pi-star text-gray-600 group-hover:text-white'
                "
                (click)="toggleFavorite(item.symbol, $event)"
              ></span>
            </td>
            <td
              pFrozenColumn
              alignFrozen="left"
              class="group-hover:!bg-gray-950 !text-gray-400 shadow-[4px_0_12px_-4px_rgba(0,0,0,0.5)] transition-colors"
            >
              <div class="flex items-center gap-1.5 uppercase">
                <span
                  class="text-gray-200 group-hover:text-yellow-400 transition-colors text-sm jetbrains-bold tracking-[1.5px]"
                  >{{ item.symbol }}</span
                >
              </div>
            </td>
            <td
              class="text-xs"
              [ngClass]="{
                'text-green-500': +item.priceChangePercent >= 0,
                'text-red-500': +item.priceChangePercent < 0,
              }"
            >
              ${{ +item.lastPrice | number: '1.0-7' }}
            </td>
            <td class="text-xs">
              <div
                class="flex items-center gap-1"
                [ngClass]="{
                  'text-green-500': +item.priceChangePercent >= 0,
                  'text-red-500': +item.priceChangePercent < 0,
                }"
              >
                <span
                  >{{ +item.priceChangePercent >= 0 ? '+' : ''
                  }}{{ +item.priceChangePercent | number: '1.0-2' }}%</span
                >
              </div>
            </td>
            <td class="text-xs">
              <div class="flex justify-start">
                <span class="text-gray-500 group-hover:text-gray-300 transition-colors">
                  {{ utilsService.fmtVol(+item.quoteVolume) }}
                </span>
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5" class="py-12">
              <div class="flex flex-col items-center justify-center text-gray-500 gap-3 py-2">
                <i class="pi pi-box text-3xl opacity-50"></i>
                <span class="text-sm">No market pairs found matching your criteria.</span>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-template>
</p-popover>
