@if (dynamicDialogConfig?.data?.isDialog) {
  <button type="button" class="cursor-pointer absolute top-0 right-0 p-1" (click)="close()">
    ❌
  </button>
}

<form [formGroup]="tradeForm" class="flex justify-center mt-3">
  <div class="flex flex-col gap-2 px-2">
    <p-selectbutton
      [allowEmpty]="false"
      [options]="orderTypes"
      formControlName="orderType"
      aria-labelledby="orderType"
      optionLabel="label"
      optionValue="value"
      dataKey="value"
      size="small"
      class="text-xs"
      (onChange)="onOrderTypeChange()"
    />

    <div class="flex flex-col gap-2">
      <span class="text-xs">
        Leverage
        <span
          class="text-xs"
          [ngClass]="{
            'text-emerald-300': tradeForm.get('leverage')?.value <= 50,
            'text-red-300':
              tradeForm.get('leverage')?.value > 50 && tradeForm.get('leverage')?.value <= 75,
            'text-red-700': tradeForm.get('leverage')?.value > 75,
          }"
          >{{ tradeForm.get('leverage')?.value + 'x' }}</span
        >
      </span>

      <div class="flex items-center gap-2">
        <p-button size="small" variant="outlined" class="w-7" (click)="updateLeverage(-1)"
          ><span class="text-xs">-</span></p-button
        >
        <p-slider
          formControlName="leverage"
          [min]="1"
          [max]="defaultLeverage"
          class="w-full mx-1"
        />
        <p-button size="small" variant="outlined" class="w-7" (click)="updateLeverage(1)"
          ><span class="text-xs">+</span></p-button
        >
      </div>
    </div>

    <p-iftalabel>
      <p-inputnumber
        inputId="amount"
        formControlName="amount"
        autocomplete="off"
        mode="currency"
        currency="USD"
        locale="en-US"
        [showButtons]="true"
        [inputSize]="17"
        [min]="5"
      />
      <label for="amount">Amount</label>
    </p-iftalabel>

    <p-iftalabel [hidden]="tradeForm.get('orderType')?.value === orderTypeEnum.MARKET">
      <p-inputnumber
        inputId="price"
        formControlName="price"
        autocomplete="off"
        mode="decimal"
        [minFractionDigits]="0"
        [maxFractionDigits]="7"
        [showButtons]="true"
        [inputSize]="17"
      />
      <label for="price">Price</label>
    </p-iftalabel>

    <div class="flex flex-col gap-2">
      <div class="flex items-center gap-2">
        <p-checkbox inputId="tpsl" formControlName="hasTPSL" [binary]="true" />
        <label for="tpsl" class="text-xs"> TP/SL </label>
      </div>

      @if (tradeForm.get('hasTPSL')?.value) {
        <div class="flex flex-col gap-2">
          <p-iftalabel>
            <p-inputgroup>
              <p-inputnumber
                inputId="takeProfit"
                formControlName="takeProfit"
                autocomplete="off"
                mode="decimal"
                [inputSize]="17"
                [placeholder]="selectedTpType().label"
              />
              <label for="takeProfit">Take Profit</label>

              <p-inputgroup-addon>
                <span
                  class="cursor-pointer p-[6px] text-xs"
                  [pTooltip]="selectedTpType().label"
                  tooltipPosition="left"
                  (click)="optionTp.toggle($event)"
                  >{{ selectedTpType().value }}</span
                >
              </p-inputgroup-addon>
            </p-inputgroup>
            <p-menu
              #optionTp
              [model]="optionTpItems"
              [popup]="true"
              appendTo="body"
              styleClass="text-xs"
            />
          </p-iftalabel>

          <p-iftalabel>
            <p-inputgroup>
              <p-inputnumber
                inputId="stopLoss"
                formControlName="stopLoss"
                autocomplete="off"
                mode="decimal"
                [inputSize]="17"
                [placeholder]="selectedSlType().label"
              />
              <label for="stopLoss">Stop loss</label>

              <p-inputgroup-addon>
                <span
                  class="cursor-pointer p-[6px] text-xs"
                  [pTooltip]="selectedSlType().label"
                  tooltipPosition="left"
                  (click)="optionSl.toggle($event)"
                  >{{ selectedSlType().value }}</span
                >
              </p-inputgroup-addon>
            </p-inputgroup>
            <p-menu
              #optionSl
              [model]="optionSlItems"
              [popup]="true"
              appendTo="body"
              styleClass="text-xs"
            />
          </p-iftalabel>
        </div>
      }
    </div>

    <div class="flex items-center gap-2 w-full jetbrains-medium">
      <button
        (click)="placeOrder(orderSideEnum.BUY)"
        type="button"
        class="w-1/2 bg-green-700 text-white cursor-pointer rounded text-xs py-2 hover:bg-green-600"
      >
        Buy/Long
      </button>
      <button
        (click)="placeOrder(orderSideEnum.SELL)"
        type="button"
        class="w-1/2 bg-red-700 text-white cursor-pointer rounded text-xs py-2 hover:bg-red-600"
      >
        Sell/Short
      </button>
    </div>
  </div>
</form>
