@use '../../styles/variables' as *;

:host {
  width: $default-width;
  margin: auto;
}

.symbol-info-container {
  height: $symbol-info-height;
}

.timeframe-container {
  height: $timeframe-height;
}

.volume-container {
  min-height: $volume-chart-height;
}

.trades-container {
  width: $trades-container-width;
}

:host ::ng-deep {
  .p-scrollpanel-bar-y {
    display: none !important;
  }
}

