@use '../../styles/variables' as *;

:host {
  display: block;
  width: 100%;
}

.symbol-info-container {
  min-height: $symbol-info-height;
  height: auto;
}

.timeframe-container {
  min-height: $timeframe-height;
  height: auto;
}

.volume-container {
  min-height: $volume-chart-height;
}


:host ::ng-deep {
  .p-scrollpanel-bar-y {
    display: none !important;
  }
}

