<div class="container text-white">
  <div class="h-2 mt-2">
    @if ((appSettingsService.isLoadingOpenOrders$ | async) && allOpenOrders().length === 0) {
      <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" color="bg-gray-600" />
    }
  </div>

  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Positions</p-tab>
      <p-tab value="1">
        <div class="flex items-center gap-1">
          <span> Open Orders </span>
          @if (allOpenOrders().length > 0) {
            <span class="text-xs text-gray-300"> ({{ allOpenOrders().length }}) </span>
          }
        </div>
      </p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <app-positions
          [positions]="enrichedPositions()"
          (onClosePosition)="closePosition($event)"
          (onSelectSymbol)="selectSymbol($event)"
        ></app-positions>
      </p-tabpanel>

      <p-tabpanel value="1">
        <app-open-orders
          [visibleOrders]="visibleOrders()"
          [orderTypeFilter]="orderTypeFilter()"
          (onFilterChange)="orderTypeFilter.set($event)"
          (onCancelOrder)="cancelOrder($event)"
          (onSelectSymbol)="selectSymbol($event)"
        ></app-open-orders>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
