<div class="w-full min-h-[500px]">
  @if (
    (appSettingsService.isLoadingPendingTpSl$ | async) ||
    (appSettingsService.isLoadingPositions$ | async)
  ) {
    <div class="h-2 mt-1">
      <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" color="bg-gray-600" />
    </div>
  }

  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">
        <div class="flex items-center text-xs">
          <span> Positions </span>
          @if (enrichedPositions().length > 0) {
            <span> ({{ enrichedPositions().length }}) </span>
          }
        </div>
      </p-tab>
      <p-tab value="1">
        <div class="flex items-center text-xs">
          <span> Open Orders </span>
          @if (openOrders().length > 0 || conditionalOrders().length > 0) {
            <span> ({{ openOrders().length + conditionalOrders().length }}) </span>
          }
        </div>
      </p-tab>
    </p-tablist>

    <p-tabpanels class="!px-1">
      <p-tabpanel value="0">
        <app-positions
          [positions]="enrichedPositions()"
          (onClosePosition)="closePosition($event)"
          (onSelectSymbol)="selectSymbol($event)"
          (onOpenTPSLDialog)="openTPSLDialog($event)"
          (onRemoveTPSL)="removeTPSL($event)"
        ></app-positions>
      </p-tabpanel>

      <p-tabpanel value="1">
        <div class="flex justify-between items-center mb-3">
          <p-selectButton
            [options]="orderTypeOptions()"
            [ngModel]="orderTypeFilter()"
            (ngModelChange)="orderTypeFilter.set($event)"
            [allowEmpty]="false"
            optionLabel="label"
            optionValue="value"
            size="small"
            class="[&_.p-togglebutton]:!text-xs"
          >
          </p-selectButton>
        </div>

        @if (this.orderTypeFilter() === 'basic') {
          <app-open-orders
            [basicOrders]="basicOrders()"
            (onCancelOrder)="cancelOrder($event)"
            (onSelectSymbol)="selectSymbol($event)"
          ></app-open-orders>
        } @else {
          <app-conditional-orders
            [conditionalOrders]="conditionalOrders()"
            (onCancelOrder)="cancelOrder($event)"
            (onSelectSymbol)="selectSymbol($event)"
          ></app-conditional-orders>
        }
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
