<div class="container border-y border-gray-700 text-white">
  <div class="h-2 mt-2">
    @if ((appSettingsService.isLoadingOpenOrders$ | async) && openOrders().length === 0) {
      <p-progressbar mode="indeterminate" [style]="{ height: '6px' }" color="bg-gray-600" />
    }
  </div>

  <div class="flex justify-between items-center mt-2">
    <h1 class="text-xs jetbrains-bold px-2">Open Orders</h1>
    <!-- <div class="flex gap-2">
      <p-button
        (click)="fetchOrders()"
        variant="outlined"
        severity="success"
        size="small"
        [disabled]="loading || openOrders().length === 0"
      >
        Refresh
      </p-button>
      <p-button
        (click)="cancelAllOrders()"
        variant="outlined"
        severity="danger"
        size="small"
        [disabled]="loading || openOrders().length === 0"
      >
        Cancel All
      </p-button>
    </div> -->
  </div>

  <p-tabs value="0" (valueChange)="onTabChange($event)">
    <p-tablist>
      <p-tab value="0">Positions</p-tab>
      <p-tab value="1">
        <div class="flex items-center gap-1">
          <span> Open Orders </span>
          @if (openOrders().length > 0) {
            <span class="text-xs text-red-500"> ({{ openOrders().length }}) </span>
          }
        </div>
      </p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0"> asdasd </p-tabpanel>
      <p-tabpanel value="1">
        @if (openOrders().length === 0) {
          <div class="text-center text-gray-500 jetbrains-regular text-[10px] py-2 bg-green-900/10">
            No open orders.
          </div>
        } @else {
          <p-table [value]="openOrders()" class="mt-2 jetbrains-light text-[10px]" size="small">
            <ng-template pTemplate="header">
              <tr class="text-left text-gray-600">
                <th pSortableColumn="updateTime">
                  <span class="flex items-center gap-1">
                    <span>Date</span>
                    <p-sortIcon field="updateTime"> </p-sortIcon>
                  </span>
                </th>
                <th pSortableColumn="symbol">
                  <span class="flex items-center gap-1">
                    <span>Symbol</span>
                    <p-sortIcon field="symbol"> </p-sortIcon>
                  </span>
                </th>
                <th>Side</th>
                <th>Type</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Filled</th>
                <th class="w-30">Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>
              <tr class="border-b border-gray-800 hover:bg-gray-800 transition-colors">
                <td>{{ order.updateTime | date: 'MMMM d h:mma' }}</td>
                <td>
                  <span
                    class="jetbrains-bold text-yellow-500 hover:text-yellow-200 cursor-pointer text-xs bg-yellow-200/10 px-2 py-1 rounded"
                    (click)="selectSymbol(order.symbol)"
                  >
                    {{ order.symbol }}
                  </span>
                </td>
                <td>
                  <span
                    [ngClass]="{
                      'text-green-500': order.side === 'BUY',
                      'text-red-500': order.side === 'SELL',
                      'jetbrains-bold': true,
                    }"
                  >
                    {{ order.side }}
                  </span>
                </td>
                <td>{{ order.type }}</td>
                <td>{{ order.price | number: '1.0-7' }}</td>
                <td>{{ order.origQty }}</td>
                <td>{{ ((order.executedQty / order.origQty) * 100).toFixed(0) }}%</td>
                <td>
                  <!-- <p-button
              (click)="editOrder(order)"
              icon="pi pi-pencil"
              [text]="true"
              [rounded]="true"
              [outlined]="true"
              severity="info"
            >
            </p-button> -->

                  <p-button
                    (click)="cancelOrder(order)"
                    icon="pi pi-times"
                    [text]="true"
                    [rounded]="true"
                    [outlined]="true"
                    severity="danger"
                  >
                  </p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        }
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
