<p-confirmDialog />

<p-toast
  position="top-center"
  [breakpoints]="{ '425px': { width: '95%', right: 'auto' } }"
  key="toaster"
>
  <ng-template #headless let-message>
    <div class="flex flex-col gap-2 p-4">
      <div class="flex justify-between items-start">
        <div class="flex flex-col gap-1">
          @if (message.summary) {
            <span class="font-bold text-xs">{{ message.summary }}</span>
          }
          @if (message.detail) {
            <span class="text-xs">{{ message.detail }}</span>
          }
        </div>

        <button type="button" (click)="close()" class="text-[10px] cursor-pointer">
          <span class="pi pi-times"></span>
        </button>
      </div>
    </div>
  </ng-template>
</p-toast>

<p-scrollpanel [style]="{ width: '100%', height: '100vh' }">
  <app-header></app-header>
  <router-outlet></router-outlet>
</p-scrollpanel>
<app-chat></app-chat>
