<form [formGroup]="tradesForm" class="flex justify-center divide-x divide-gray-600 divide-dashed">
  <ng-container formArrayName="trades">
    @for (tradeGroup of tradesArray.controls; track tradeGroup.value.symbol; let i = $index) {
      <div [formGroupName]="i" class="flex gap-2 px-5">
        <div class="flex flex-col px-3">
          <span class="text-red-400 text-center text-xl uppercase jetbrains-bold">{{
            tradeGroup.value.symbol
          }}</span>
          <span class="text-red-500 text-center text-md text-left jetbrains-medium">{{
            currentMarketPrice()(tradeGroup.value.symbol)
          }}</span>

          <div class="flex flex-col gap-1 h-[400px]">
            @for (price of prices()[tradeGroup.value.symbol]; track $index) {
              <span class="text-xs text-emerald-700 jetbrains-light">
                {{ price?.price }}
              </span>
            }
          </div>
        </div>

        <div class="card flex flex-col gap-2">
          <h1 class="text-center text-xl mb-2">Trade</h1>
          <div class="flex flex-col gap-4">
            <label for="leverage" class="text-xs"
              >Leverage
              <span
                class="text-xs"
                [class.text-emerald-300]="tradeGroup.value.leverage <= 30"
                [class.text-red-300]="
                  tradeGroup.value.leverage > 30 && tradeGroup.value.leverage <= 75
                "
                [class.text-red-700]="tradeGroup.value.leverage > 75"
                >{{ tradeGroup.value.leverage }}x</span
              ></label
            >
            <p-slider id="leverage" min="1" max="125" formControlName="leverage" class="w-full" />

            <p-iftalabel>
              <p-inputnumber
                [id]="'amount-' + tradeGroup.value.symbol"
                formControlName="amount"
                autocomplete="off"
                mode="currency"
                currency="USD"
                locale="en-US"
              />
              <label [for]="'amount-' + tradeGroup.value.symbol">Amount</label>
            </p-iftalabel>
          </div>

          <p-iftalabel>
            <p-inputnumber
              [id]="'price-' + tradeGroup.value.symbol"
              formControlName="price"
              autocomplete="off"
              mode="decimal"
              [minFractionDigits]="0"
              [maxFractionDigits]="7"
            />
            <label [for]="'price-' + tradeGroup.value.symbol">Price</label>
          </p-iftalabel>

          <div class="flex items-center gap-1 w-full">
            <button
              (click)="buy(tradeGroup)"
              type="button"
              class="w-1/2 bg-green-700 text-white cursor-pointer rounded text-sm py-1"
            >
              Buy
            </button>
            <button
              (click)="sell(tradeGroup)"
              type="button"
              class="w-1/2 bg-red-700 text-white cursor-pointer rounded text-sm py-1"
            >
              Sell
            </button>
          </div>

          <div
            class="flex flex-col gap-2 text-sm py-2 mt-2 border-t border-gray-700 border-dashed pnl-section"
          >
            <div class="flex justify-between">
              <span class="text-xs text-gray-500">Entry Price:</span>
              <span class="text-sm text-gray-300">{{
                tradeGroup.value.entryPrice | number: '1.0-7'
              }}</span>
            </div>
            <ng-container
              *ngIf="
                currentPnL()(
                  tradeGroup.value.symbol,
                  tradeGroup.value.entryPrice,
                  tradeGroup.value.positionAmt,
                  tradeGroup.value.leverage
                ) as livePnl
              "
            >
              <div class="flex justify-between">
                <span class="text-xs text-gray-500">PnL:</span>
                <span
                  class="text-xs"
                  [ngClass]="{
                    'text-green-500': !livePnl.isLoss,
                    'text-red-500': livePnl.isLoss,
                  }"
                >
                  {{ livePnl.pnl }}
                </span>
              </div>
              <div class="flex justify-between">
                <span class="text-xs text-gray-500">PnL %:</span>
                <span
                  class="text-xs"
                  [ngClass]="{
                    'text-green-500': !livePnl.isLoss,
                    'text-red-500': livePnl.isLoss,
                  }"
                >
                  {{ livePnl.pnlPercent }}
                </span>
              </div>
            </ng-container>

            <div class="flex justify-between">
              <span class="text-xs text-gray-500">Stop Loss:</span>
              <span class="text-xs text-red-300">{{ tradeGroup.value.stopLoss }}</span>
            </div>
            <div class="flex justify-between">
              <span class="text-xs text-gray-500">Take Profit:</span>
              <span class="text-xs text-emerald-300">{{ tradeGroup.value.takeProfit }}</span>
            </div>

            <div class="flex justify-between">
              <p-button
                [disabled]="!tradeGroup.value.positionAmt"
                size="small"
                variant="outlined"
                severity="danger"
                (click)="openRiskDialog(tradeGroup, 'STOP_LOSS')"
              >
                Stop Loss
              </p-button>
              <p-button
                [disabled]="!tradeGroup.value.positionAmt"
                size="small"
                variant="outlined"
                (click)="openRiskDialog(tradeGroup, 'TAKE_PROFIT')"
              >
                Take Profit
              </p-button>
            </div>
          </div>
        </div>
      </div>
    }
  </ng-container>
</form>

<p-dialog
  [header]="riskDialogType === 'STOP_LOSS' ? 'Set Stop Loss' : 'Set Take Profit'"
  [modal]="true"
  [(visible)]="isRiskDialogOpen"
  [style]="{ width: '30rem' }"
>
  <span class="p-text-secondary block mb-5 text-gray-400">
    Enter the trigger price to exactly close out your {{ riskDialogSymbol }}
    {{ riskDialogSide === 'SELL' ? 'Long' : 'Short' }} position.
  </span>

  <div class="flex items-center gap-3 mb-4">
    <label class="font-semibold w-24 text-gray-400">Target %</label>
    <div class="flex-auto flex items-center gap-4">
      <p-slider
        class="w-full flex-auto"
        [(ngModel)]="riskDialogPercent"
        (ngModelChange)="updatePriceFromPercent()"
        [min]="1"
        [max]="riskDialogType === 'STOP_LOSS' ? 100 : 500"
      ></p-slider>
      <span
        class="text-sm font-bold border border-gray-700 bg-gray-900 px-3 py-1 rounded w-16 text-center"
      >
        {{ riskDialogPercent }}%
      </span>
    </div>
  </div>

  <div class="flex items-center gap-3 mb-1">
    <label for="triggerPrice" class="font-semibold w-24 text-gray-400">Price</label>
    <p-inputnumber
      id="triggerPrice"
      [(ngModel)]="riskDialogPrice"
      (ngModelChange)="updateFromPrice()"
      [ngModelOptions]="{ standalone: true }"
      mode="decimal"
      [minFractionDigits]="0"
      [maxFractionDigits]="7"
      class="flex-auto w-full"
      autocomplete="off"
    />
  </div>

  <div class="flex justify-between items-center px-1 mb-2">
    <div class="w-24"></div>
    <!-- Spacer for label alignment -->
    <div
      class="text-xs font-semibold"
      [class.text-red-500]="riskDialogEstimatedPnL < 0"
      [class.text-green-500]="riskDialogEstimatedPnL > 0"
    >
      Estimated {{ riskDialogEstimatedPnL < 0 ? 'Loss' : 'Profit' }}:
      {{ riskDialogEstimatedPnL < 0 ? '-' : riskDialogEstimatedPnL > 0 ? '+' : ''
      }}{{ riskDialogEstimatedPnLStr }}
    </div>
  </div>

  <div class="flex justify-end gap-2 mt-5 border-t border-gray-700 pt-4 border-dashed">
    <p-button label="Cancel" severity="secondary" (click)="isRiskDialogOpen = false" />
    <p-button
      label="Confirm Order"
      severity="success"
      (click)="submitRiskOrder()"
      [disabled]="!riskDialogPrice || riskDialogPrice <= 0"
    />
  </div>
</p-dialog>
