<form [formGroup]="tradesForm" class="flex justify-center divide-x divide-gray-600 divide-dashed">
  <ng-container formArrayName="trades">
    @for (
      tradeGroup of tradesFormArray.controls;
      track tradeGroup.value.symbol;
      let tradeIndex = $index
    ) {
      @let futurePosition = compFuturePos()[tradeGroup.value.symbol];
      @let marketPrice = currentMarketPrice()(tradeGroup.value.symbol);
      @let isNegativePnl = futurePosition?.pnl?.includes('-');

      <div [formGroupName]="tradeIndex" class="flex px-5 pb-2">
        <div class="flex flex-col p-3">
          <span class="text-blue-400 text-md uppercase jetbrains-bold">{{
            tradeGroup.value.symbol
          }}</span>

          <div
            class="flex items-center justify-between gap-1 group cursor-pointer"
            (click)="addToFormPrice(tradeGroup.value.symbol, marketPrice)"
          >
            <span
              class="text-red-500 text-center text-md text-left jetbrains-medium cursor-pointer"
              >{{ marketPrice }}</span
            >

            <span
              class="pi pi-arrow-circle-right opacity-0 group-hover:opacity-100 transition-opacity"
            ></span>
          </div>

          <div class="flex flex-col gap-1 h-[400px] w-[100px]">
            @for (price of prices()[tradeGroup.value.symbol]; track $index) {
              <div
                class="flex items-center justify-between gap-1 group cursor-pointer"
                (click)="addToFormPrice(tradeGroup.value.symbol, price.price)"
              >
                <span class="text-xs text-emerald-700 jetbrains-light group-hover:text-blue-600">{{
                  price?.price
                }}</span>
                <span
                  class="pi pi-arrow-circle-right opacity-0 group-hover:opacity-100 transition-opacity"
                ></span>
              </div>
            }
          </div>
        </div>

        <div class="card flex flex-col gap-2">
          <h1 class="text-center text-lg">Trade</h1>
          <div class="flex flex-col gap-4">
            <label for="leverage" class="text-xs">
              Leverage
              <span
                class="text-xs"
                [ngClass]="{
                  'text-emerald-300': tradeGroup.value.leverage <= 30,
                  'text-red-300': tradeGroup.value.leverage > 30 && tradeGroup.value.leverage <= 75,
                  'text-red-700': tradeGroup.value.leverage > 75,
                }"
                >{{ tradeGroup.value.leverage }}x</span
              >
            </label>
            <p-slider
              id="leverage"
              [min]="1"
              [max]="125"
              formControlName="leverage"
              class="w-full"
            />

            <p-iftalabel>
              <p-inputnumber
                [id]="'amount-' + tradeGroup.value.symbol"
                formControlName="amount"
                autocomplete="off"
                mode="currency"
                currency="USD"
                locale="en-US"
                [showButtons]="true"
                [inputSize]="22"
                [min]="5"
              />
              <label [for]="'amount-' + tradeGroup.value.symbol">Amount</label>
            </p-iftalabel>
          </div>

          <p-iftalabel>
            <p-inputnumber
              [id]="'price-' + tradeGroup.value.symbol"
              formControlName="price"
              autocomplete="off"
              mode="decimal"
              [minFractionDigits]="0"
              [maxFractionDigits]="7"
              [showButtons]="true"
              [inputSize]="22"
            />

            <label [for]="'price-' + tradeGroup.value.symbol">Price</label>
          </p-iftalabel>

          <div class="flex flex-col gap-2">
            <div class="flex items-center gap-2">
              <p-checkbox
                [inputId]="'tpsl-' + tradeGroup.value.symbol"
                formControlName="hasTPSL"
                [binary]="true"
              />
              <label [for]="'tpsl-' + tradeGroup.value.symbol" class="text-xs"> TP/SL </label>
            </div>

            @if (tradeGroup.get('hasTPSL')?.value) {
              <div class="flex flex-col gap-2">
                <p-iftalabel>
                  <p-inputnumber
                    [id]="'tp-' + tradeGroup.value.symbol"
                    formControlName="takeProfit"
                    autocomplete="off"
                    mode="decimal"
                    [minFractionDigits]="0"
                    [maxFractionDigits]="7"
                    [showButtons]="true"
                    [inputSize]="22"
                  />
                  <label [for]="'tp-' + tradeGroup.value.symbol">Take Profit</label>
                </p-iftalabel>

                <p-iftalabel>
                  <p-inputnumber
                    [id]="'sl-' + tradeGroup.value.symbol"
                    formControlName="stopLoss"
                    autocomplete="off"
                    mode="decimal"
                    [minFractionDigits]="0"
                    [maxFractionDigits]="7"
                    [showButtons]="true"
                    [inputSize]="22"
                  />
                  <label [for]="'sl-' + tradeGroup.value.symbol">Stop loss</label>
                </p-iftalabel>
              </div>
            }
          </div>

          <div class="flex items-center gap-1 w-full">
            <button
              (click)="placeOrder(tradeGroup, orderSideEnum.BUY)"
              type="button"
              class="w-1/2 bg-green-700 text-white cursor-pointer rounded text-sm py-1"
              [ngClass]="{
                'bg-gray-900!': futurePosition?.initialMargin?.toString() !== '0',
              }"
            >
              Buy
            </button>
            <button
              (click)="placeOrder(tradeGroup, orderSideEnum.SELL)"
              type="button"
              class="w-1/2 bg-red-700 text-white cursor-pointer rounded text-sm py-1"
              [ngClass]="{
                'bg-gray-900!': futurePosition?.initialMargin?.toString() !== '0',
              }"
            >
              Sell
            </button>
          </div>
          @if (futurePosition?.initialMargin?.toString() !== '0') {
            <div class="flex flex-col gap-2 text-sm mt-2">
              <div
                class="flex justify-between border border-gray-700 border-dashed divide-x divide-gray-700 divide-dashed"
              >
                <div class="flex flex-col w-1/2 justify-between text-xs p-1 gap-1">
                  <div class="flex justify-between">
                    <div class="text-gray-500">Leverage:</div>
                    <div>
                      <span class="text-gray-300"> {{ futurePosition?.leverage }}x </span>
                    </div>
                  </div>

                  <div class="flex justify-between">
                    <div class="text-gray-500">Entry:</div>
                    <div>
                      <span class="text-gray-300">
                        {{ futurePosition?.entryPrice | number: '1.0-7' }}</span
                      >
                    </div>
                  </div>

                  <div class="flex justify-between">
                    <div class="text-gray-500">Amount:</div>
                    <div>
                      <span class="text-emerald-600">
                        {{ futurePosition?.initialMargin | currency: 'USD' : 'symbol' : '1.0-2' }}
                      </span>
                    </div>
                  </div>
                </div>

                <div class="flex w-1/2 justify-between p-1">
                  <span class="text-xs text-gray-500">PnL:</span>
                  <div
                    class="flex flex-col items-end text-xs"
                    [ngClass]="{
                      'text-green-500': !isNegativePnl,
                      'text-red-500': isNegativePnl,
                    }"
                  >
                    <span> {{ futurePosition?.pnl | currency: 'USD' : 'symbol' : '1.0-2' }} </span>
                    <span> {{ futurePosition?.pnlPercent | number: '1.0-7' }}% </span>
                  </div>
                </div>
              </div>

              <div class="flex justify-between items-center border-b border-gray-700 border-dashed">
                <span class="text-xs text-gray-500">Stop Loss:</span>
                <div class="flex justify-between items-center">
                  @if (futurePosition?.stopLoss) {
                    <div class="flex flex-col items-end">
                      <span class="text-xs text-red-300">{{
                        futurePosition?.stopLoss | number: '1.0-7'
                      }}</span>
                      <span class="text-[11px] text-red-400"
                        >-{{ futurePosition?.stopLossPnlPercent }}% / -{{
                          futurePosition?.stopLossPnl
                        }}</span
                      >
                    </div>
                  }

                  <p-button
                    icon="pi pi-pen-to-square"
                    [rounded]="true"
                    [text]="true"
                    size="small"
                    severity="danger"
                    (click)="openTPSLDialog(tradeGroup.value.symbol, orderTypeEnum.STOP_MARKET)"
                  />
                </div>
              </div>

              <div class="flex justify-between items-center border-b border-gray-700 border-dashed">
                <span class="text-xs text-gray-500">Take Profit:</span>
                <div class="flex justify-between items-center">
                  @if (futurePosition?.takeProfit) {
                    <div class="flex flex-col items-end">
                      <span class="text-xs text-emerald-200">{{
                        futurePosition?.takeProfit | number: '1.0-7'
                      }}</span>
                      <span class="text-[11px] text-emerald-400"
                        >+{{ futurePosition?.takeProfitPnlPercent }}% / +
                        {{ futurePosition?.takeProfitPnl }}</span
                      >
                    </div>
                  }

                  <p-button
                    icon="pi pi-pen-to-square"
                    [rounded]="true"
                    [text]="true"
                    size="small"
                    (click)="
                      openTPSLDialog(tradeGroup.value.symbol, orderTypeEnum.TAKE_PROFIT_MARKET)
                    "
                  />
                </div>
              </div>

              <div class="flex justify-around gap-1">
                <p-button
                  size="small"
                  variant="outlined"
                  severity="warn"
                  (click)="closePosition(futurePosition)"
                >
                  <span class="text-xs">Close Position</span>
                </p-button>
              </div>
            </div>
          }
        </div>
      </div>
    }
  </ng-container>
</form>
