<form [formGroup]="tradesForm" class="flex justify-center divide-x divide-gray-600 divide-dashed">
  <ng-container formArrayName="trades">
    @for (
      tradeGroup of tradesFormArray.controls;
      track tradeGroup.value.symbol;
      let tradeIndex = $index
    ) {
      @let futurePosition = compFuturePos()[tradeGroup.value.symbol];
      @let marketPrice = currentMarketPrice()(tradeGroup.value.symbol);

      <div [formGroupName]="tradeIndex" class="flex px-5 pb-2">
        <div class="flex flex-col p-3">
          <span class="text-blue-400 text-md uppercase jetbrains-bold">{{
            tradeGroup.value.symbol
          }}</span>

          <div
            class="flex items-center justify-between gap-1 group cursor-pointer"
            (click)="addToFormPrice(tradeGroup.value.symbol, marketPrice)"
          >
            <span
              class="text-red-500 text-center text-md text-left jetbrains-medium cursor-pointer"
              >{{ marketPrice }}</span
            >

            <span
              class="pi pi-arrow-circle-right opacity-0 group-hover:opacity-100 transition-opacity"
            ></span>
          </div>

          <div class="flex flex-col gap-1 h-[400px] w-[100px]">
            @for (price of prices()[tradeGroup.value.symbol]; track $index) {
              <div
                class="flex items-center justify-between gap-1 group cursor-pointer"
                (click)="addToFormPrice(tradeGroup.value.symbol, price.price)"
              >
                <span class="text-xs text-emerald-700 jetbrains-light group-hover:text-blue-600">{{
                  price?.price
                }}</span>
                <span
                  class="pi pi-arrow-circle-right opacity-0 group-hover:opacity-100 transition-opacity"
                ></span>
              </div>
            }
          </div>
        </div>

        <div class="card flex flex-col gap-2">
          <h1 class="text-center text-lg">Trade</h1>
          <div class="flex flex-col gap-4">
            <label for="leverage" class="text-xs">
              Leverage
              <span
                class="text-xs"
                [ngClass]="{
                  'text-emerald-300': tradeGroup.value.leverage <= 30,
                  'text-red-300': tradeGroup.value.leverage > 30 && tradeGroup.value.leverage <= 75,
                  'text-red-700': tradeGroup.value.leverage > 75,
                }"
                >{{ tradeGroup.value.leverage }}x</span
              >
            </label>
            <p-slider
              id="leverage"
              [min]="1"
              [max]="125"
              formControlName="leverage"
              class="w-full"
            />

            <p-iftalabel>
              <p-inputnumber
                [id]="'amount-' + tradeGroup.value.symbol"
                formControlName="amount"
                autocomplete="off"
                mode="currency"
                currency="USD"
                locale="en-US"
                [showButtons]="true"
                [inputSize]="22"
                [min]="5"
              />
              <label [for]="'amount-' + tradeGroup.value.symbol">Amount</label>
            </p-iftalabel>
          </div>

          <p-iftalabel>
            <p-inputnumber
              [id]="'price-' + tradeGroup.value.symbol"
              formControlName="price"
              autocomplete="off"
              mode="decimal"
              [minFractionDigits]="0"
              [maxFractionDigits]="7"
              [showButtons]="true"
              [inputSize]="22"
            />

            <label [for]="'price-' + tradeGroup.value.symbol">Price</label>
          </p-iftalabel>

          <div class="flex flex-col gap-2">
            <div class="flex items-center gap-2">
              <p-checkbox
                [inputId]="'tpsl-' + tradeGroup.value.symbol"
                formControlName="hasTPSL"
                [binary]="true"
              />
              <label [for]="'tpsl-' + tradeGroup.value.symbol" class="text-xs"> TP/SL </label>
            </div>

            @if (tradeGroup.get('hasTPSL')?.value) {
              <div class="flex flex-col gap-2">
                <p-iftalabel>
                  <p-inputnumber
                    [id]="'tp-' + tradeGroup.value.symbol"
                    formControlName="takeProfit"
                    autocomplete="off"
                    mode="decimal"
                    [minFractionDigits]="0"
                    [maxFractionDigits]="7"
                    [showButtons]="true"
                    [inputSize]="22"
                  />
                  <label [for]="'tp-' + tradeGroup.value.symbol">Take Profit</label>
                </p-iftalabel>

                <p-iftalabel>
                  <p-inputnumber
                    [id]="'sl-' + tradeGroup.value.symbol"
                    formControlName="stopLoss"
                    autocomplete="off"
                    mode="decimal"
                    [minFractionDigits]="0"
                    [maxFractionDigits]="7"
                    [showButtons]="true"
                    [inputSize]="22"
                  />
                  <label [for]="'sl-' + tradeGroup.value.symbol">Stop loss</label>
                </p-iftalabel>
              </div>
            }
          </div>

          <div class="flex items-center gap-1 w-full">
            <button
              (click)="placeOrder(tradeGroup, 'BUY')"
              type="button"
              class="w-1/2 bg-green-700 text-white cursor-pointer rounded text-sm py-1"
              [ngClass]="{
                'bg-gray-900!': futurePosition?.initialMargin?.toString() !== '0',
              }"
            >
              Buy
            </button>
            <button
              (click)="placeOrder(tradeGroup, 'SELL')"
              type="button"
              class="w-1/2 bg-red-700 text-white cursor-pointer rounded text-sm py-1"
              [ngClass]="{
                'bg-gray-900!': futurePosition?.initialMargin?.toString() !== '0',
              }"
            >
              Sell
            </button>
          </div>
          @if (futurePosition?.initialMargin?.toString() !== '0') {
            <div class="flex flex-col gap-2 text-sm mt-2">
              <div
                class="flex justify-between border border-gray-700 border-dashed divide-x divide-gray-700 divide-dashed"
              >
                <div class="flex flex-col w-1/2 justify-between text-xs p-1 gap-1">
                  <div class="flex justify-between">
                    <div class="text-gray-500">Leverage:</div>
                    <div>
                      <span class="text-gray-300"> {{ futurePosition?.leverage }}x </span>
                    </div>
                  </div>

                  <div class="flex justify-between">
                    <div class="text-gray-500">Entry:</div>
                    <div>
                      <span class="text-gray-300">
                        {{ futurePosition?.entryPrice | number: '1.0-7' }}</span
                      >
                    </div>
                  </div>

                  <div class="flex justify-between">
                    <div class="text-gray-500">Amount:</div>
                    <div>
                      <span class="text-emerald-600">
                        {{ futurePosition?.initialMargin | currency: 'USD' : 'symbol' : '1.0-2' }}
                      </span>
                    </div>
                  </div>
                </div>

                <div class="flex w-1/2 justify-between p-1">
                  <span class="text-xs text-gray-500">PnL:</span>
                  <div
                    class="flex flex-col items-end text-xs"
                    [ngClass]="{
                      'text-green-500': futurePosition?.pnl?.includes('+'),
                      'text-red-500': futurePosition?.pnl?.includes('-'),
                    }"
                  >
                    <span> {{ futurePosition?.pnl | currency: 'USD' : 'symbol' : '1.0-2' }} </span>
                    <span> {{ futurePosition?.pnlPercent | number: '1.0-7' }}% </span>
                  </div>
                </div>
              </div>

              <div class="flex justify-between items-center border-b border-gray-700 border-dashed">
                <span class="text-xs text-gray-500">Stop Loss:</span>
                <div class="flex justify-between items-center">
                  <span class="text-xs text-red-300">{{
                    futurePosition?.stopLoss | number: '1.0-7'
                  }}</span>
                  <p-button
                    icon="pi pi-pen-to-square"
                    [rounded]="true"
                    [text]="true"
                    size="small"
                    severity="danger"
                    (click)="
                      openRiskDialog(
                        tradeGroup.value.symbol,
                        'STOP_MARKET',
                        futurePosition?.stopLoss
                      )
                    "
                  />
                </div>
              </div>

              <div class="flex justify-between items-center border-b border-gray-700 border-dashed">
                <span class="text-xs text-gray-500">Take Profit:</span>
                <div class="flex justify-between items-center">
                  <span class="text-xs text-emerald-300">{{
                    futurePosition?.takeProfit | number: '1.0-7'
                  }}</span>
                  <p-button
                    icon="pi pi-pen-to-square"
                    [rounded]="true"
                    [text]="true"
                    size="small"
                    (click)="
                      openRiskDialog(
                        tradeGroup.value.symbol,
                        'TAKE_PROFIT_MARKET',
                        futurePosition?.takeProfit
                      )
                    "
                  />
                </div>
              </div>

              <div class="flex justify-around gap-1">
                <p-button
                  size="small"
                  variant="outlined"
                  severity="warn"
                  (click)="closePosition(futurePosition)"
                >
                  <span class="text-xs">Close Position</span>
                </p-button>
              </div>
            </div>
          }
        </div>
      </div>
    }
  </ng-container>
</form>

<p-dialog
  [header]="riskDialogType === 'STOP_MARKET' ? 'Set Stop Loss' : 'Set Take Profit'"
  [modal]="true"
  [(visible)]="isRiskDialogOpen"
  [style]="{ width: '30rem' }"
>
  <span class="p-text-secondary block mb-5 text-gray-400">
    Enter the trigger price to exactly close out your {{ riskDialogSymbol }}
    {{ riskDialogSide === 'SELL' ? 'Long' : 'Short' }} position.
  </span>

  <div class="flex flex-col gap-3 bg-gray-900/90 p-2 mb-2 rounded">
    <label class="font-semibold text-gray-400 text-center">Target</label>

    <div class="flex items-center gap-3">
      <div class="flex-auto flex items-center gap-4">
        <p-slider
          class="w-full flex-auto"
          [(ngModel)]="riskDialogPercent"
          (ngModelChange)="updatePriceFromPercent()"
          [min]="1"
          [max]="500"
        ></p-slider>

        <p-floatlabel variant="on" styleClass="w-20">
          <p-inputnumber
            [(ngModel)]="riskDialogPercent"
            (ngModelChange)="updatePriceFromPercent()"
            inputId="target-percent"
            [min]="1"
            [max]="500"
            [minlength]="1"
            [maxlength]="3"
            [inputSize]="8"
            [showClear]="true"
            suffix="%"
            size="small"
          />
          <label for="target-percent">Input %</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="flex flex-col">
      <div class="flex flex-wrap gap-4">
        <div class="flex items-center gap-1">
          <p-radiobutton
            value="10"
            [(ngModel)]="riskDialogPercent"
            inputId="ten-percent"
            size="small"
            (ngModelChange)="updatePriceFromPercent()"
          />
          <label for="ten-percent" class="text-xs cursor-pointer">10%</label>
        </div>
        <div class="flex items-center gap-1">
          <p-radiobutton
            value="25"
            [(ngModel)]="riskDialogPercent"
            inputId="twentyfive-percent"
            size="small"
            (ngModelChange)="updatePriceFromPercent()"
          />
          <label for="twentyfive-percent" class="text-xs cursor-pointer">25%</label>
        </div>
        <div class="flex items-center gap-1">
          <p-radiobutton
            value="50"
            [(ngModel)]="riskDialogPercent"
            inputId="fifty-percent"
            size="small"
            (ngModelChange)="updatePriceFromPercent()"
          />
          <label for="fifty-percent" class="text-xs cursor-pointer">50%</label>
        </div>

        <div class="flex items-center gap-1">
          <p-radiobutton
            value="75"
            [(ngModel)]="riskDialogPercent"
            inputId="seventyfive-percent"
            size="small"
            (ngModelChange)="updatePriceFromPercent()"
          />
          <label for="seventyfive-percent" class="text-xs cursor-pointer">75%</label>
        </div>

        <div class="flex items-center gap-1">
          <p-radiobutton
            value="100"
            [(ngModel)]="riskDialogPercent"
            inputId="hundred-percent"
            size="small"
            (ngModelChange)="updatePriceFromPercent()"
          />
          <label for="hundred-percent" class="text-xs cursor-pointer">100%</label>
        </div>
        <div class="flex items-center gap-1">
          <p-radiobutton
            value="200"
            [(ngModel)]="riskDialogPercent"
            inputId="twohundred-percent"
            size="small"
            (ngModelChange)="updatePriceFromPercent()"
          />
          <label for="twohundred-percent" class="text-xs cursor-pointer">200%</label>
        </div>
        <div class="flex items-center gap-1">
          <p-radiobutton
            value="500"
            [(ngModel)]="riskDialogPercent"
            inputId="fivehundred-percent"
            size="small"
            (ngModelChange)="updatePriceFromPercent()"
          />
          <label for="fivehundred-percent" class="text-xs cursor-pointer">500%</label>
        </div>
      </div>
    </div>
  </div>

  <div class="flex items-center gap-3 mb-1">
    <label for="triggerPrice" class="font-semibold w-24 text-gray-400"
      >Price

      <span class="pi pi-arrow-right" style="font-size: 0.75rem"></span>
    </label>
    <p-inputnumber
      id="triggerPrice"
      [(ngModel)]="riskDialogPrice"
      (ngModelChange)="updateFromPrice()"
      [ngModelOptions]="{ standalone: true }"
      mode="decimal"
      [minFractionDigits]="0"
      [maxFractionDigits]="7"
      class="flex-auto w-full"
      autocomplete="off"
    />
  </div>

  <div class="flex justify-between items-center px-1 mb-2">
    <div class="w-24"></div>
    <div
      class="text-xs font-semibold"
      [class.text-red-500]="riskDialogEstimatedPnL < 0"
      [class.text-green-500]="riskDialogEstimatedPnL > 0"
    >
      Estimated {{ riskDialogEstimatedPnL < 0 ? 'Loss' : 'Profit' }}:
      {{ riskDialogEstimatedPnL < 0 ? '-' : riskDialogEstimatedPnL > 0 ? '+' : ''
      }}{{ riskDialogEstimatedPnLStr }}
    </div>
  </div>

  <div class="flex justify-end gap-2 mt-5 border-t border-gray-700 pt-4 border-dashed">
    <p-button label="Cancel" severity="secondary" size="small" (click)="isRiskDialogOpen = false" />
    <p-button
      label="Confirm Order"
      severity="success"
      size="small"
      (click)="submitRiskOrder()"
      [disabled]="!riskDialogPrice || riskDialogPrice <= 0"
    />
  </div>
</p-dialog>
