<header
  class="bg-gray-900 flex items-center justify-center sticky top-0 z-[100] w-full border-b border-gray-700"
>
  <div
    class="flex items-center justify-between container max-w-[1440px] w-full mx-auto px-2 gap-2 md:px-0"
  >
    <div class="flex items-center gap-2 px-2 mr-5">
      <img src="/binance_logo.svg" alt="binance" width="20px" />
      <h1 class="text-emerald-500 text-md font-bold">{{ appSettingsService.appName }}</h1>
      <h1
        class="flex items-center gap-1 text-gray-800 text-[10px] font-bold px-1.5 py-0.5 bg-yellow-500 rounded"
      >
        <span class="relative flex h-2 w-2">
          <span
            class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75 border border-red-500"
          ></span>
          <span class="relative inline-flex rounded-full h-2 w-2 bg-red-500"></span>
        </span>

        {{ appSettingsService.isTestnet() ? 'Demo' : 'Live' }}
      </h1>
    </div>

    <div class="flex items-stretch overflow-auto hidden min-[768px]:flex jetbrains-bold rounded">
      <div class="flex items-center w-1/2 overflow-hidden py-2 gap-2 bg-green-950/50">
        <span class="text-[10px] text-emerald-500 uppercase tracking-widest shrink-0 px-2"
          >Gainers</span
        >
        @if (!isLoading()) {
          <div class="overflow-hidden flex-1">
            <div class="ticker-animate">
              @for (item of gainers(); track $index) {
                <span class="mx-3 flex items-center gap-1">
                  <div
                    class="flex items-center justify-center leading-none h-3 w-3 bg-gray-700 rounded"
                  >
                    <span class="text-[8px]">{{ $index < 10 ? $index + 1 : $index - 9 }}</span>
                  </div>
                  <span
                    class="text-xs text-yellow-500 cursor-pointer"
                    (click)="selectSymbol(item.symbol)"
                    >{{ item.symbol }}</span
                  >
                  <span class="self-end text-[9px] text-emerald-500"
                    >+{{ item.priceChangePercent }}%</span
                  ></span
                >
              }
            </div>
          </div>
        } @else {
          <div class="overflow-hidden flex-1">
            <div class="flex items-center justify-between gap-2 pr-2">
              @for (item of [1, 2, 3, 4, 5]; track $index) {
                <p-skeleton size="small" class="h-4 w-[120px]"></p-skeleton>
              }
            </div>
          </div>
        }
      </div>

      <div class="flex items-center w-1/2 overflow-hidden py-2 gap-2 bg-red-950/50">
        <span class="text-[10px] text-red-500 uppercase tracking-widest shrink-0 px-2">Losers</span>

        @if (!isLoading()) {
          <div class="overflow-hidden flex-1">
            <div class="ticker-animate">
              @for (item of losers(); track $index) {
                <span class="mx-3 flex items-center gap-1">
                  <div
                    class="flex items-center justify-center leading-none h-3 w-3 bg-gray-700 rounded"
                  >
                    <span class="text-[8px]">{{ $index < 10 ? $index + 1 : $index - 9 }}</span>
                  </div>
                  <span
                    class="text-xs text-yellow-500 cursor-pointer"
                    (click)="selectSymbol(item.symbol)"
                    >{{ item.symbol }}</span
                  >
                  <span class="self-end text-[9px] text-red-500"
                    >{{ item.priceChangePercent }}%</span
                  ></span
                >
              }
            </div>
          </div>
        } @else {
          <div class="overflow-hidden flex-1">
            <div class="flex items-center justify-between gap-2 pr-2">
              @for (item of [1, 2, 3, 4, 5]; track $index) {
                <p-skeleton size="small" class="h-4 w-[120px]"></p-skeleton>
              }
            </div>
          </div>
        }
      </div>
    </div>

    @if (authService.isLoggedIn()) {
      <div class="hidden min-[769px]:flex items-center px-2">
        <p-button
          size="small"
          [rounded]="true"
          severity="contrast"
          (onClick)="signout()"
          class="shadow-md"
        >
          <div class="flex items-center gap-1">
            <span class="pi pi-sign-out !text-xs"></span>
            <span class="text-xs jetbrains-bold">Signout</span>
          </div>
        </p-button>
      </div>

      <div class="block min-[769px]:hidden px-2">
        <p-button
          icon="pi pi-user"
          [rounded]="true"
          variant="outlined"
          size="small"
          (onClick)="menuProfile.toggle($event)"
        ></p-button>

        <p-menu #menuProfile [model]="items" [popup]="true" styleClass="text-xs" />
      </div>
    } @else {
      <div class="flex items-center px-2">
        <p-button
          size="small"
          [rounded]="true"
          severity="contrast"
          (onClick)="signin()"
          class="shadow-md"
        >
          <div class="flex items-center gap-1">
            <span class="text-xs jetbrains-bold">Signin</span>
            <span class="pi pi-sign-in !text-xs"></span>
          </div>
        </p-button>
      </div>
    }
  </div>
</header>
