<header class="bg-gray-900 flex items-center justify-center sticky top-0 z-[100] w-full shadow-lg">
  <div
    class="flex items-center justify-between container max-w-[1440px] w-full mx-auto px-2 gap-2 md:px-0"
  >
    <div class="flex items-center gap-2 px-2">
      <img src="/binance_logo.svg" alt="binance" width="20px" />
      <h1 class="text-emerald-500 text-md font-bold">BBot.v1</h1>
      <h1
        class="flex items-center gap-1 text-gray-800 text-[10px] font-bold px-1.5 py-0.5 bg-yellow-500 rounded"
      >
        <span class="relative flex h-2 w-2">
          <span
            class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75 border border-red-500"
          ></span>
          <span class="relative inline-flex rounded-full h-2 w-2 bg-red-500"></span>
        </span>

        {{ appSettingsService.isTestnet() ? 'Demo' : 'Live' }}
      </h1>
    </div>

    <div class="flex items-stretch max-w-[900px] overflow-auto hidden min-[768px]:flex px-2 gap-2">
      <div class="flex items-center w-1/2 overflow-hidden py-2 gap-2 bg-green-950/40">
        <span
          class="text-xs font-semibold text-emerald-500 uppercase tracking-widest whitespace-nowrap shrink-0 px-3"
          >Gainers</span
        >
        <div class="overflow-hidden flex-1">
          <div class="ticker-animate">
            @for (item of gainers(); track $index) {
              <span class="mx-3 flex gap-1 items-center">
                <div class="flex">
                  <span class="text-[9px] bg-green-600 px-1 rounded">{{ $index + 1 }}</span>
                </div>
                <span
                  class="text-xs font-semibold text-emerald-500 hover:text-yellow-500 cursor-pointer"
                  (click)="selectSymbol(item.symbol)"
                  >{{ item.symbol }}</span
                >
                <span class="text-[11px] text-emerald-400 font-medium"
                  >+{{ item.priceChangePercent }}%</span
                ></span
              >
            }
          </div>
        </div>
      </div>

      <div class="flex items-center w-1/2 overflow-hidden py-2 gap-2 bg-red-950/40">
        <span
          class="text-xs font-semibold text-red-500 uppercase tracking-widest whitespace-nowrap shrink-0 px-3"
          >Losers</span
        >
        <div class="overflow-hidden flex-1">
          <div class="ticker-animate">
            @for (item of losers(); track $index) {
              <span class="mx-3 flex gap-1 items-center">
                <div class="flex">
                  <span class="text-[9px] bg-red-600 px-1 rounded">{{ $index + 1 }}</span>
                </div>
                <span
                  class="text-xs font-semibold text-red-500 hover:text-yellow-500 cursor-pointer"
                  (click)="selectSymbol(item.symbol)"
                  >{{ item.symbol }}</span
                >
                <span class="text-[11px] text-red-400 font-medium"
                  >{{ item.priceChangePercent }}%</span
                ></span
              >
            }
          </div>
        </div>
      </div>
    </div>

    @if (authService.isLoggedIn()) {
      <div class="hidden min-[769px]:flex items-center px-2">
        <p-button
          size="small"
          [rounded]="true"
          severity="contrast"
          (onClick)="signout()"
          class="shadow-md"
        >
          <div class="flex items-center gap-1">
            <span class="pi pi-sign-out !text-xs"></span>
            <span class="text-xs jetbrains-bold">Signout</span>
          </div>
        </p-button>
      </div>

      <div class="block min-[769px]:hidden px-2">
        <p-button
          icon="pi pi-user"
          [rounded]="true"
          variant="outlined"
          size="small"
          (onClick)="menuProfile.toggle($event)"
        ></p-button>

        <p-menu #menuProfile [model]="items" [popup]="true" styleClass="text-xs" />
      </div>
    } @else {
      <div class="flex items-center px-2">
        <p-button
          size="small"
          [rounded]="true"
          severity="contrast"
          (onClick)="signin()"
          class="shadow-md"
        >
          <div class="flex items-center gap-1">
            <span class="text-xs jetbrains-bold">Signin</span>
            <span class="pi pi-sign-in !text-xs"></span>
          </div>
        </p-button>
      </div>
    }
  </div>
</header>
