@use 'variables' as *;

header {
  .container {
    max-width: $default-width;
    height: $header-height;
  }
}

@keyframes ticker-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.ticker-animate {
  animation: ticker-scroll 18s linear infinite;
  display: flex;
  width: max-content;
}

.ticker-animate:hover {
  animation-play-state: paused;
}