@if (dynamicDialogConfig?.data?.isDialog) {
  <button type="button" class="cursor-pointer absolute top-0 right-0 p-1" (click)="close()">
    ❌
  </button>
}
<div
  class="flex flex-col py-2 px-3 mt-2 border-gray-700 border-dashed"
  [ngClass]="{
    'border-y ': !dynamicDialogConfig?.data?.isDialog,
    'border-b': dynamicDialogConfig?.data?.isDialog,
  }"
>
  <div class="flex justify-center items-center gap-1">
    <span class="text-xs jetbrains-medium">Account</span>
    <span
      class="pi !text-xs"
      (click)="isMaskAssets.set(!isMaskAssets())"
      [ngClass]="{
        'pi-eye': !isMaskAssets(),
        'pi-eye-slash': isMaskAssets(),
        'cursor-pointer': !dynamicDialogConfig?.data?.isDialog,
      }"
    ></span>
  </div>
  <div class="flex justify-between jetbrains-thin gap-2">
    <div class="w-1/2 flex flex-col gap-2">
      <div class="flex flex-col">
        <div class="text-[10px] text-gray-500">Margin Balance:</div>
        <div class="text-xs">
          @if (isLoading()) {
            <p-skeleton></p-skeleton>
          } @else {
            @if (userInfo()?.totalWalletBalance !== 0) {
              <span class="text-emerald-400">
                {{
                  isMaskAssets()
                    ? '*******'
                    : (userInfo()?.availableBalance | currency: 'USD' : 'symbol' : '1.0-2')
                }}
              </span>
            } @else {
              <span class="text-gray-400">
                {{ isMaskAssets() ? '*******' : '-' }}
              </span>
            }
          }
        </div>
      </div>
      <div class="flex flex-col">
        <div class="text-[10px] text-gray-500">Unrealized PnL:</div>
        <div class="text-xs">
          @if (isLoading()) {
            <p-skeleton></p-skeleton>
          } @else {
            @if (userInfo()?.totalWalletBalance !== 0) {
              @let totalLivePnl = (userService.totalLivePnl$ | async) || 0;
              <span
                [ngClass]="{
                  'text-red-400': totalLivePnl < 0,
                  'text-emerald-400': totalLivePnl > 0,
                }"
              >
                {{
                  isMaskAssets() ? '*******' : (totalLivePnl | currency: 'USD' : 'symbol' : '1.0-2')
                }}
              </span>
            } @else {
              <span class="text-gray-400">
                {{ isMaskAssets() ? '*******' : '-' }}
              </span>
            }
          }
        </div>
      </div>
    </div>

    <div class="w-1/2 flex flex-col items-end">
      <div class="text-[10px] text-gray-500">Balance:</div>
      <div class="text-xs w-full text-right">
        @if (isLoading()) {
          <p-skeleton></p-skeleton>
        } @else {
          @if (userInfo()?.totalWalletBalance !== 0) {
            <span class="text-emerald-400">
              {{
                isMaskAssets()
                  ? '*******'
                  : (userInfo()?.totalWalletBalance | currency: 'USD' : 'symbol' : '1.0-2')
              }}
            </span>
          } @else {
            <span class="text-gray-400">
              {{ isMaskAssets() ? '*******' : '0' }}
            </span>
          }
        }
      </div>
    </div>
  </div>
</div>
