@if (dynamicDialogConfig?.data?.isDialog) {
  <button type="button" class="cursor-pointer absolute top-0 right-0 p-1" (click)="close()">
    ❌
  </button>
}
<div
  class="flex flex-col py-2 px-3 mt-2 border-gray-700 border-dashed"
  [ngClass]="{
    'border-y ': !dynamicDialogConfig?.data?.isDialog,
    'border-b': dynamicDialogConfig?.data?.isDialog,
  }"
>
  <div class="text-center text-xs jetbrains-medium">Account</div>
  <div class="flex justify-between">
    <div class="flex flex-col gap-2">
      <div class="flex flex-col jetbrains-thin">
        <div class="text-xs text-gray-500">Margin Balance:</div>
        <div class="text-xs text-emerald-400">
          @if (userInfo()?.availableBalance) {
            {{ userInfo()?.availableBalance | currency: 'USD' : 'symbol' : '1.0-2' }}
          } @else {
            <p-skeleton></p-skeleton>
          }
        </div>
      </div>
      <div class="flex flex-col jetbrains-thin">
        <div class="text-xs text-gray-500">Unrealized PnL:</div>
        <div class="text-xs">
          @if (userService.totalLivePnl$ | async; as totalLivePnl) {
            <span
              [ngClass]="{ 'text-red-400': totalLivePnl < 0, 'text-emerald-400': totalLivePnl > 0 }"
            >
              {{ totalLivePnl | currency: 'USD' : 'symbol' : '1.0-2' }}
            </span>
          } @else {
            <p-skeleton></p-skeleton>
          }
        </div>
      </div>
    </div>

    <div class="flex flex-col jetbrains-thin">
      <div class="text-xs text-gray-500">Balance:</div>
      <div class="text-xs text-emerald-400">
        @if (userInfo()?.totalWalletBalance) {
          {{ userInfo()?.totalWalletBalance | currency: 'USD' : 'symbol' : '1.0-2' }}
        } @else {
          <p-skeleton></p-skeleton>
        }
      </div>
    </div>
  </div>
</div>
