@use '../../styles/variables' as *;

$chart-height: calc(
  100vh - #{$header-height} - #{$volume-chart-height} - #{$timeframe-height} -
    #{$symbol-info-height}
);

:host ::ng-deep app-trading-chart .chart-container {
  height: $chart-height;
}

:host ::ng-deep app-trading-chart .trades-scroll-panel {
  height: calc(#{$chart-height} + #{$volume-chart-height} - 45px);
}
