@use 'variables' as *;

$chart-height: calc(
  100dvh - #{$header-height} - #{$volume-chart-height} - #{$timeframe-height} -
    #{$symbol-info-height} - #{$volume-maximize-height}
);

:host ::ng-deep app-trading-chart .chart-container {
  height: $chart-height;
}

:host ::ng-deep app-trading-chart .trades-scroll-panel {
  height: calc((#{$chart-height} + #{$volume-chart-height}) - $order-book-scroll-panel-height - 80px);
}

:host ::ng-deep app-trading-chart .order-book-scroll-panel {
  height: #{$order-book-scroll-panel-height};
}
