/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss';
@import 'primeicons/primeicons.css';
@import './app/styles/index';

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
}

.p-popover::before,
.p-popover::after {
  display: none !important;
}