@if (positions().length === 0) {
  <div class="text-center text-gray-400 jetbrains-regular text-[10px] py-2 bg-green-900/5">
    “No open positions. Awaiting trade setup.”
  </div>
} @else {
  <p-table
    [value]="positions()"
    class="jetbrains-light text-[11px]"
    size="small"
    [scrollable]="true"
    scrollHeight="500px"
    [virtualScroll]="true"
    [virtualScrollItemSize]="48"
  >
    <ng-template #header>
      <tr>
        <th
          pSortableColumn="symbol"
          pFrozenColumn
          alignFrozen="left"
          class="!bg-gray-900 shadow-[4px_0_12px_-4px_rgba(0,0,0,0.5)] !w-30"
        >
          <div class="flex items-center gap-1 text-gray-400 hover:text-gray-100 transition-colors">
            <span>Symbols</span>
            <p-sortIcon field="symbol"></p-sortIcon>
          </div>
        </th>

        <th class="!bg-gray-900 !text-gray-400">Side</th>

        <th pSortableColumn="margin" class="!bg-gray-900">
          <div class="flex items-center gap-1 text-gray-400 hover:text-gray-100 transition-color">
            <span>Margin/Size</span>
            <p-sortIcon field="margin"></p-sortIcon>
          </div>
        </th>

        <th class="!bg-gray-900 !text-gray-400">Entry Price</th>
        <th class="!bg-gray-900 !text-gray-400">Mark Price</th>
        <th class="!bg-gray-900 !text-gray-400">Break Even Price</th>
        <th pSortableColumn="livePnl" class="!bg-gray-900">
          <div class="flex items-center gap-1 text-gray-400 hover:text-gray-100 transition-color">
            <span>PNL(ROI%)</span>
            <p-sortIcon field="livePnl"></p-sortIcon>
          </div>
        </th>
        <th class="!bg-gray-900 !text-gray-400">Liq. Price</th>
        <th class="!bg-gray-900 !text-gray-400 !text-right">Take Profit</th>
        <th class="!bg-gray-900 !text-gray-400 !text-right">Stop Loss</th>
        <th class="!bg-gray-900 !text-gray-400 w-32">Action</th>
      </tr>
    </ng-template>

    <ng-template #body let-pos let-index="rowIndex">
      <tr
        [ngClass]="{
          'selected-symbol !bg-gray-900':
            chartService.selectedSymbol().toLowerCase() === pos.symbol.toLowerCase(),
        }"
      >
        <td pFrozenColumn alignFrozen="left" class="shadow-[4px_0_12px_-4px_rgba(0,0,0,0.5)]">
          <div class="flex flex-col gap-2 text-gray-400">
            <span>
              <span
                class="jetbrains-bold text-yellow-500 hover:text-yellow-200 cursor-pointer text-xs bg-yellow-200/10 px-2 py-1 rounded tracking-[1px]"
                (click)="selectSymbol(pos.symbol)"
              >
                {{ pos.symbol }}
              </span>
            </span>
            <span class="flex items-center gap-1">
              <span class="text-gray-200 bg-gray-700 px-1 rounded"
                >{{ pos.leverage || '20' }}x</span
              >
              <span class="uppercase text-[10px] text-gray-200">{{
                pos.marginType || 'cross'
              }}</span>
            </span>
          </div>
        </td>

        <td>
          <span
            class="jetbrains-bold text-white border text-[9px] py-1 px-2 rounded uppercase tracking-[1px]"
            [ngClass]="
              pos.positionSide === 'LONG' || pos.positionAmt > 0
                ? 'bg-green-900/30 border-green-700/50'
                : 'bg-red-900/30  border-red-700/50'
            "
          >
            {{ pos.positionSide === 'LONG' || pos.positionAmt > 0 ? 'Buy/Long' : 'Sell/Short' }}
          </span>
        </td>

        <td>
          <div class="flex flex-col gap-1">
            <span class="text-green-400">{{ pos.margin | number: '1.0-2' }} USDT</span>
            <span
              [ngClass]="
                pos.notional > 0 ? 'text-green-500 jetbrains-bold' : 'text-red-500 jetbrains-bold'
              "
              >{{ pos.notional | number: '1.0-4' }}</span
            >
          </div>
        </td>
        <td>{{ pos.entryPrice | number: '1.0-7' }}</td>
        <td>{{ pos.markPrice | number: '1.0-7' }}</td>
        <td>{{ pos.breakEvenPrice | number: '1.0-7' }}</td>
        <td
          [ngClass]="
            pos.livePnl >= 0 ? 'text-green-500 jetbrains-bold' : 'text-red-500 jetbrains-bold'
          "
        >
          <div class="flex flex-col gap-1">
            <span>{{ pos.livePnl >= 0 ? '+' : '' }}{{ pos.livePnl | number: '1.0-2' }} USDT</span>
            <span class="text-xs"
              >{{ pos.roi >= 0 ? '+' : '' }}{{ pos.roi | number: '1.0-2' }}%</span
            >
          </div>
        </td>

        <td class="text-yellow-500 jetbrains-bold">
          {{
            pos.liquidationPrice && pos.liquidationPrice !== '0'
              ? (pos.liquidationPrice | number: '1.0-5')
              : '--'
          }}
        </td>

        <td>
          @if (pos.takeProfit?.triggerPrice) {
            <div class="flex flex-col items-end gap-2">
              <div>
                <div class="flex gap-1">
                  <span class="text-green-400"
                    >+{{ pos.takeProfit.pnlPercent | number: '1.0-0' }}%</span
                  >
                  <span>/</span>
                  <span>{{ pos.takeProfit.triggerPrice | number: '1.0-7' }}</span>
                </div>
              </div>
              <div class="flex gap-1">
                <p-button
                  size="small"
                  severity="secondary"
                  [rounded]="true"
                  (onClick)="openTPSLDialog(pos, true)"
                  icon="pi pi-pen-to-square"
                >
                </p-button>

                <p-button
                  size="small"
                  severity="secondary"
                  [rounded]="true"
                  (onClick)="removeTPSL(pos)"
                  icon="pi pi-trash"
                >
                </p-button>
              </div>
            </div>
          } @else {
            <div class="flex flex-col items-end gap-2">
              <span class="text-gray-500 text-lg">--</span>
              <p-button
                size="small"
                severity="secondary"
                [rounded]="true"
                (onClick)="openTPSLDialog(pos, true)"
                icon="pi pi-plus"
              >
              </p-button>
            </div>
          }
        </td>

        <td>
          @if (pos.stopLoss?.triggerPrice) {
            <div class="flex flex-col items-end gap-2">
              <div>
                <div class="flex gap-1">
                  <span class="text-red-400">{{ pos.stopLoss.pnlPercent | number: '1.0-0' }}%</span>
                  <span>/</span>
                  <span>{{ pos.stopLoss.triggerPrice | number: '1.0-7' }}</span>
                </div>
              </div>

              <div class="flex gap-1">
                <p-button
                  size="small"
                  severity="secondary"
                  [rounded]="true"
                  (onClick)="openTPSLDialog(pos, false)"
                  icon="pi pi-pen-to-square"
                >
                </p-button>

                <p-button
                  size="small"
                  severity="secondary"
                  [rounded]="true"
                  (onClick)="removeTPSL(pos)"
                  icon="pi pi-trash"
                >
                </p-button>
              </div>
            </div>
          } @else {
            <div class="flex flex-col items-end gap-2">
              <span class="text-gray-500 text-lg">-</span>
              <p-button
                size="small"
                severity="secondary"
                [rounded]="true"
                (onClick)="openTPSLDialog(pos, false)"
                icon="pi pi-plus"
              >
              </p-button>
            </div>
          }
        </td>

        <td>
          <button
            class="bg-red-950 text-gray-200 px-2 py-1 rounded text-[10px] cursor-pointer jetbrains-bold border border-red-900 hover:bg-red-900/70"
            (click)="closePosition(pos)"
          >
            Close Position
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
}
