@use 'variables' as *;

$chart-height: calc(
  100vh - #{$header-height} - #{$volume-chart-height} - #{$timeframe-height} -
    #{$symbol-info-height} - #{$open-orders-height} - #{$volume-maximize-height}
);

:host ::ng-deep app-trading-chart .chart-wrapper {
  height: calc(#{$chart-height} + #{$volume-chart-height});
}

:host ::ng-deep app-trading-chart .chart-container {
  height: 100%;
}

:host ::ng-deep app-trading-chart .trades-scroll-panel {
  height: calc((#{$chart-height} + #{$volume-chart-height} - 45px) / 2);
}

:host ::ng-deep app-trading-chart .order-book-scroll-panel {
  height: calc((#{$chart-height} + #{$volume-chart-height} - 45px) / 2);
}