<div class="text-xs text-wrap mb-3 text-gray-400">
  <span>Enter the trigger price to close out your</span>
  <span
    class="uppercase mx-1 font-bold text-lg"
    [ngClass]="{
      'text-red-500': isStopLoss(),
      'text-green-500': !isStopLoss(),
    }"
    >{{ riskDialogSymbol }}</span
  >
  <span>position.</span>
</div>

<div class="flex flex-col gap-4 bg-gray-900/90 p-2 mb-2 rounded">
  <label class="font-semibold text-gray-400 text-center">Target</label>

  <div class="flex items-center gap-4">
    <p-button
      size="small"
      variant="outlined"
      class="w-7"
      type="button"
      (onClick)="updatePercentage(false)"
      ><span class="text-xs">-</span></p-button
    >
    <p-slider
      class="w-full flex-auto"
      [(ngModel)]="riskDialogPercent"
      (ngModelChange)="updatePriceFromPercent()"
      [min]="1"
      [max]="500"
    ></p-slider>

    <p-button
      size="small"
      variant="outlined"
      class="w-7"
      type="button"
      (onClick)="updatePercentage(true)"
      ><span class="text-xs">+</span></p-button
    >
  </div>

  <div class="flex flex-col">
    <div class="flex gap-3">
      <div class="flex items-center gap-1">
        <p-radiobutton
          value="10"
          [(ngModel)]="riskDialogPercent"
          inputId="tenPercent"
          size="small"
          (ngModelChange)="updatePriceFromPercent()"
        />
        <label for="tenPercent" class="text-[10px] cursor-pointer">10%</label>
      </div>

      <div class="flex items-center gap-1">
        <p-radiobutton
          value="25"
          [(ngModel)]="riskDialogPercent"
          inputId="twentyfivePercent"
          size="small"
          (ngModelChange)="updatePriceFromPercent()"
        />
        <label for="twentyfivePercent" class="text-[10px] cursor-pointer">25%</label>
      </div>

      <div class="flex items-center gap-1">
        <p-radiobutton
          value="50"
          [(ngModel)]="riskDialogPercent"
          inputId="fiftyPercent"
          size="small"
          (ngModelChange)="updatePriceFromPercent()"
        />
        <label for="fiftyPercent" class="text-[10px] cursor-pointer">50%</label>
      </div>

      <div class="flex items-center gap-1">
        <p-radiobutton
          value="75"
          [(ngModel)]="riskDialogPercent"
          inputId="seventyfivePercent"
          size="small"
          (ngModelChange)="updatePriceFromPercent()"
        />
        <label for="seventyfivePercent" class="text-[10px] cursor-pointer">75%</label>
      </div>

      <div class="flex items-center gap-1">
        <p-radiobutton
          value="100"
          [(ngModel)]="riskDialogPercent"
          inputId="hundredPercent"
          size="small"
          (ngModelChange)="updatePriceFromPercent()"
        />
        <label for="hundredPercent" class="text-[10px] cursor-pointer">100%</label>
      </div>

      <div class="flex items-center gap-1">
        <p-radiobutton
          value="200"
          [(ngModel)]="riskDialogPercent"
          inputId="twohundredPercent"
          size="small"
          (ngModelChange)="updatePriceFromPercent()"
        />
        <label for="twohundredPercent" class="text-[10px] cursor-pointer">200%</label>
      </div>

      <div class="flex items-center gap-1">
        <p-radiobutton
          value="500"
          [(ngModel)]="riskDialogPercent"
          inputId="fivehundredPercent"
          size="small"
          (ngModelChange)="updatePriceFromPercent()"
        />
        <label for="fivehundredPercent" class="text-[10px] cursor-pointer">500%</label>
      </div>

      <p-floatlabel variant="on" styleClass="w-20">
        <p-inputnumber
          [(ngModel)]="riskDialogPercent"
          (ngModelChange)="updatePriceFromPercent()"
          inputId="targetPercent"
          [minlength]="1"
          [maxlength]="3"
          [inputSize]="8"
          size="small"
        />
        <label for="targetPercent">Input %</label>
      </p-floatlabel>
    </div>
  </div>
</div>

<div class="flex items-center gap-3 mb-1">
  <label for="triggerPrice" class="w-50 text-gray-400"
    >Trigger Price
    <span class="pi pi-arrow-right" style="font-size: 0.75rem"></span>
  </label>
  <p-inputnumber
    id="triggerPrice"
    [(ngModel)]="riskDialogPrice"
    (ngModelChange)="updateFromPrice()"
    [ngModelOptions]="{ standalone: true }"
    mode="decimal"
    [minFractionDigits]="0"
    [maxFractionDigits]="7"
    class="flex-auto w-full"
    autocomplete="off"
  />
</div>

<div class="flex justify-between items-center px-1 mb-2">
  <div class="w-24"></div>
  <div
    class="text-xs font-semibold"
    [ngClass]="{
      'text-red-500': isStopLoss(),
      'text-green-500': !isStopLoss(),
    }"
  >
    Estimated
    {{ (isStopLoss() ? 'Loss: -' : 'Profit: +') + riskDialogEstimatedPnLStr }}
  </div>
</div>

<div
  class="flex gap-2 mt-5 border-t border-gray-700 pt-4 border-dashed"
  [ngClass]="{
    'justify-between': hasTpSl(),
    'justify-end': !hasTpSl(),
  }"
>
  @if (hasTpSl()) {
    <button
      type="button"
      class="cursor-pointer bg-orange-400/50 py-1 px-3 rounded hover:bg-orange-400/70"
      (click)="removeOrder()"
    >
      <span class="text-xs text-gray-100 jetbrains-medium">{{
        'Remove ' + (isStopLoss() ? 'Stop Loss' : 'Take Profit')
      }}</span>
    </button>
  }

  <div class="flex gap-2">
    <button
      type="button"
      class="cursor-pointer bg-gray-400/50 py-1 px-3 rounded hover:bg-gray-400/70"
      (click)="closeDialog()"
    >
      <span class="text-xs text-gray-100 jetbrains-medium">Close</span>
    </button>

    <button
      type="button"
      class="cursor-pointer bg-green-400/50 py-1 px-3 rounded hover:bg-green-400/70 disabled:bg-gray-950"
      (click)="confirmOrder()"
      [disabled]="!isValidTriggerPrice()"
    >
      <span class="text-xs text-gray-100 jetbrains-medium">Confirm</span>
    </button>
  </div>
</div>
