<div class="flex items-center justify-center mb-2 mt-4">
  <span class="text-gray-200 text-lg font-bold"
    >Set {{ isStopLoss() ? 'Stop Loss' : 'Take Profit' }}</span
  >
</div>

<div class="flex flex-col gap-2 text-xs text-wrap text-gray-400 mb-1">
  <div class="flex items-center gap-1">
    <span class="uppercase jetbrains-bold text-yellow-500 bg-yellow-200/10 rounded px-2 py-1">
      {{ symbol }}
    </span>

    <span
      class="uppercase jetbrains-bold rounded px-2 py-1"
      [ngClass]="{
        'text-red-500 bg-red-200/10': !isOrderLong(),
        'text-green-500 bg-green-200/10': isOrderLong(),
      }"
      >{{ isOrderLong() ? 'Long' : 'Short' }}</span
    >
  </div>

  <div class="flex flex-col sm:gap-5 sm:flex-row">
    <div>
      Entry Price:
      <span class="text-gray-200 text-sm font-bold">{{ entryPrice | number: '1.0-7' }}</span>
    </div>

    <div>
      Margin: <span class="text-gray-200 text-sm">${{ margin }}</span>
    </div>

    <div>
      Leverage:
      <span class="text-sm text-gray-200">{{ leverage }}×</span>
    </div>
  </div>
</div>

<div class="flex flex-col gap-2 mb-2 border-t border-gray-700 py-2 mt-4 border-dashed">
  <div class="flex items-center gap-4">
    <p-button
      size="small"
      variant="outlined"
      class="w-7"
      type="button"
      (onClick)="updatePercentage(false)"
      ><span class="text-xs">-</span></p-button
    >
    <p-slider
      class="w-full flex-auto"
      [(ngModel)]="percent"
      (ngModelChange)="updatePriceFromPercent($event)"
      [min]="1"
      [max]="999"
    ></p-slider>

    <p-button
      size="small"
      variant="outlined"
      class="w-7"
      type="button"
      (onClick)="updatePercentage(true)"
      ><span class="text-xs">+</span></p-button
    >
  </div>

  <div class="flex items-center justify-between gap-1">
    <div
      class="flex gap-1 sm:justify-start sm:overflow-hidden sm:mx-0 sm:py-0 justify-between overflow-x-scroll mx-2 py-2"
    >
      <p-button
        size="small"
        variant="outlined"
        type="button"
        [severity]="percent === 25 ? (isStopLoss() ? 'danger' : 'success') : 'secondary'"
        (onClick)="updatePriceFromPercent(25)"
        [label]="isStopLoss() ? '-25%' : '+25%'"
      >
      </p-button>

      <p-button
        size="small"
        variant="outlined"
        type="button"
        [severity]="percent === 50 ? (isStopLoss() ? 'danger' : 'success') : 'secondary'"
        (onClick)="updatePriceFromPercent(50)"
        [label]="isStopLoss() ? '-50%' : '+50%'"
      >
      </p-button>

      <p-button
        size="small"
        variant="outlined"
        type="button"
        [severity]="percent === 75 ? (isStopLoss() ? 'danger' : 'success') : 'secondary'"
        (onClick)="updatePriceFromPercent(75)"
        [label]="isStopLoss() ? '-75%' : '+75%'"
      >
      </p-button>

      <p-button
        size="small"
        variant="outlined"
        type="button"
        [severity]="percent === 100 ? (isStopLoss() ? 'danger' : 'success') : 'secondary'"
        (onClick)="updatePriceFromPercent(100)"
        [label]="isStopLoss() ? '-100%' : '+100%'"
      >
      </p-button>

      <p-button
        size="small"
        variant="outlined"
        type="button"
        [severity]="percent === 200 ? (isStopLoss() ? 'danger' : 'success') : 'secondary'"
        (onClick)="updatePriceFromPercent(200)"
        [label]="isStopLoss() ? '-200%' : '+200%'"
      >
      </p-button>

      <p-button
        size="small"
        variant="outlined"
        type="button"
        [severity]="percent === 500 ? (isStopLoss() ? 'danger' : 'success') : 'secondary'"
        (onClick)="updatePriceFromPercent(500)"
        [label]="isStopLoss() ? '-500%' : '+500%'"
      >
      </p-button>
    </div>

    <p-floatlabel variant="on">
      <p-inputnumber
        [(ngModel)]="percent"
        (ngModelChange)="updatePriceFromPercent($event)"
        inputId="targetPercent"
        [minlength]="1"
        [maxlength]="3"
        size="small"
        [inputSize]="7"
      />
      <label for="targetPercent">Input %</label>
    </p-floatlabel>
  </div>
</div>

<div class="flex gap-3 mb-1 flex-col sm:flex-row sm:items-center">
  <label for="triggerPrice" class="w-50 text-gray-400"
    >Trigger Price
    <span class="pi pi-arrow-right" style="font-size: 0.75rem"></span>
  </label>
  <p-inputnumber
    inputId="triggerPrice"
    [(ngModel)]="price"
    (ngModelChange)="updateFromPrice()"
    [ngModelOptions]="{ standalone: true }"
    mode="decimal"
    [minFractionDigits]="0"
    [maxFractionDigits]="7"
    class="flex-auto w-full"
    autocomplete="off"
    [invalid]="!isValidTriggerPrice()"
  />
</div>

<div class="flex justify-between items-center px-1">
  <div class="w-24"></div>
  <div
    class="text-xs font-semibold"
    [ngClass]="{
      'text-red-500': isStopLoss(),
      'text-green-500': !isStopLoss(),
    }"
  >
    Est.{{ isStopLoss() ? 'Loss: ' : 'Profit: ' }} {{ estPnl }}
  </div>
</div>

<div
  class="flex gap-2 mt-5 border-t border-gray-700 pt-4 border-dashed flex-col sm:flex-row"
  [ngClass]="{
    'justify-between': hasTpSl(),
    'justify-end': !hasTpSl(),
  }"
>
  @if (hasTpSl()) {
    <button
      type="button"
      class="cursor-pointer bg-orange-400/50 py-1 px-3 rounded hover:bg-orange-400/70"
      (click)="removeOrder()"
    >
      <span class="text-xs text-gray-100 jetbrains-medium">{{
        'Remove ' + (isStopLoss() ? 'Stop Loss' : 'Take Profit')
      }}</span>
    </button>
  }

  <div class="flex gap-2 flex-col sm:flex-row">
    <button
      type="button"
      class="cursor-pointer bg-gray-400/50 py-1 px-3 rounded hover:bg-gray-400/70"
      (click)="closeDialog()"
    >
      <span class="text-xs text-gray-100 jetbrains-medium">Close</span>
    </button>

    <button
      type="button"
      class="cursor-pointer bg-green-400/50 py-1 px-3 rounded hover:bg-green-400/70 disabled:bg-gray-950"
      (click)="confirmOrder()"
      [disabled]="!isValidTriggerPrice()"
    >
      <span class="text-xs text-gray-100 jetbrains-medium">Confirm</span>
    </button>
  </div>
</div>
